---
import { Image } from "astro:assets";
import Layout from "../../layouts/Layout.astro";
import hart_rond from "../../assets/rondevormen/hart_rond.png";
import profiel from "../../assets/profiel-square.png";
import img1 from "@src/assets/aanbodCard/aanbod_1.jpg";
import img2 from "@src/assets/aanbodCard/aanbod_2.jpg";
import img3 from "@src/assets/aanbodCard/aanbod_3.jpg";

import linkedin from "../../assets/icons/linkedin.svg?raw";
import facebook from "../../assets/icons/facebook.svg?raw";

import ContactSection from "@components/Contact-section.astro";
import {
  getStaticPaths,
  getLangFromUrl,
  useTranslations,
  useTranslatedPath,
} from "@src/i18n/utils";
import AanbodCard from "@components/AanbodCard.astro";
import MailForm from "@components/MailForm.astro";
export { getStaticPaths };
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
---

<Layout title="Home">
  <section class="intro back-gray text-align-center text-gray center">
    <div class="container">
      <div class="center">
        <Image
          src={hart_rond}
          class="img hart"
          alt="Mooyo logo"
          width={450}
          height={450}
          loading="eager"
        />
      </div>
      <div class="text">
        <h1 class="text-red">Mooyo</h1>
        <p>{t("index.intro.text1")}</p>
        <p>∞ ∞ ∞</p>
        <p>{t("index.intro.text2")}</p>
        <p>∞ ∞ ∞</p>
        <p>{t("index.intro.text3")}</p>
      </div>
    </div>
  </section>

  <section class="s4 back-red text-align-center text-white regular-font">
    <div class="text-margin">
      <p>{t("index.s4.text1")}</p>
      <p>{t("index.s4.text2")}</p>
    </div>
  </section>

  <section class="profile back-white text-black">
    <Image src={profiel} class="img" alt="Profiel foto van Bram Geysen" />
    <div class="text">
      <h2 class="text-red">Bram Geysen</h2>
      <p>
        Rondestraat 38 <br /> 3000 Leuven, Belgium <br />
        {t("index.distance.station")}
      </p>
      <p class="title">Contact</p>
      <p class="text-red">
        <a href="tel:+32473523094">[+32 473 52 30 94]</a>
      </p>
      <p class="text-red">
        <a href="mailto:bramgeysen@gmail.com" class="text-red"
          >[bramgeysen@gmail.com]</a
        >
      </p>
      <p class="title">Socials</p>
      <div>
        <div class="socials-container text-gray">
          <button title="linkedin" class="btn-reset icon">
            <Fragment set:html={linkedin} />
          </button>
          <button title="facebook" class="btn-reset icon">
            <Fragment set:html={facebook} />
          </button>
        </div>
      </div>
      <p class="about-link">
        <a href={translatePath("/about")}>Lees hier meer over mij</a>
      </p>
    </div>
  </section>

  <section class="aanbod-link back-red">
    <div class="container">
      <AanbodCard
        title={t("Prices.title.individual")}
        text={t("aanbodCard.individual.text")}
        img={img1}
        link="individual"
      />
      <AanbodCard
        title={t("Prices.title.workshops")}
        text={t("aanbodCard.workshops.text")}
        img={img2}
        link="workshops"
      />
      <AanbodCard
        title={t("Prices.title.organizations")}
        text={t("aanbodCard.organizations.text")}
        img={img3}
        link="organizations"
      />
    </div>
  </section>
  <ContactSection color="gray" />
</Layout>

<style>
  section {
    padding: 2rem;
  }

  .intro .container {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 2rem;
  }

  .s4 {
    font-size: 2rem;
  }
  .intro .img-container .img {
    width: 100%;
    height: auto;
    max-width: 450px;
    max-height: 450px;
  }

  .profile {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0;
  }
  .profile .img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
  }

  .profile .text {
    padding: 2rem;
  }

  .profile .title {
    font-weight: 700;
  }

  .profile .about-link {
    border-bottom: 1px solid var(--mooyo-red);
    width: fit-content;
    padding: 0 0 0.3rem 0;
  }

  .profile .socials-container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: 2rem;
  }
  .about-link {
    margin-top: 3rem;
  }
  .content-end {
    text-align: end;
  }

  .aanbod-link .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4rem;
    margin: auto;
    max-width: 1700px;
  }

  /* Responsive */
  @media (max-width: 1900px) {
    .profile .img {
      top: 0;
    }
  }

  @media (max-width: 1200px) {
    .s3 .col3 {
      display: grid; /* Added ensuring col3 recognizes grid settings */
      grid-template-columns: auto;
    }
  }

  @media (max-width: 1100px) {
    .aanbod-link .container {
      grid-template-columns: 1fr;
    }
  }
  @media (max-width: 900px) {
    .intro .container,
    .welcome .container,
    .profile {
      grid-template-columns: auto;
    }
    .intro .img {
      display: none;
    }

    .welcome .img,
    .profile .img {
      grid-row: 2;
      min-width: unset; /* Fixed 'none' syntax error */
    }

    .profile {
      padding: 0;
    }
    .profile .img {
      width: 100%;
    }
  }
</style>
