---
import GoogleTMHead from './GoogleTMHead.astro';

interface Props {
  title?: string;
  description?: string;
  image?: string;
}

const {
  title = "Mooyo Hart begeleiding coachen",
  description = "Mooyo is een uitnodiging om volledig aanwezig te zijn met alles wat je meedraagt, precies zoals je bent.",
  image = "/smo-img.png",
} = Astro.props;

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const socialImageURL = new URL(image, Astro.site);
const baseUrl = import.meta.env.BASE_URL.replace(/\/$/, "");
---

<head>
  <meta charset="UTF-8" />
  <GoogleTMHead />
  <meta name="generator" content={Astro.generator} />
  <meta name="viewport" content="width=device-width" />
  <meta name="keywords" content="Astro, coaching" />
  <title>Mooyo | {title} | coaching</title>
  <link rel="icon" type="image/png" href={`${baseUrl}/favicon.png`} />
  <link rel="canonical" href={canonicalURL} />
  
  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website" />
  <meta property="og:url" content={canonicalURL} />
  <meta property="og:title" content={title} />
  <meta property="og:description" content={description} />
  <meta property="og:image" content={socialImageURL} />
  <meta property="og:site_name" content="mooyo" />

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:url" content={canonicalURL} />
  <meta property="twitter:title" content={title} />
  <meta property="twitter:description" content={description} />
  <meta property="twitter:image" content={socialImageURL} />

</head>