---
import { Image } from "astro:assets";
import hart_rond from "../assets/rondevormen/hart_rond.png";
import "../styles/global.css";
import Nav from "../components/layout/Nav.astro";
import LanguagePicker from "../components/layout/LanguagePicker.astro";
import {
  getLangFromUrl,
  useTranslatedPath,
  useTranslations,
} from "../i18n/utils";
import Footer from "@components/layout/Footer.astro";
import Head from "@components/head/Head.astro";
import ScrollToTop from "@components/layout/ScrollToTop.astro";
import GoogleTMBody from "@components/head/GoogleTMBody.astro";

interface Props {
  title: string;
  description?: string;
}

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
const pathname = new URL(Astro.url).pathname;
const { title, description = "Standaard omschrijving voor Mooyo" } =
  Astro.props;
---

<!doctype html>
<html lang={lang}>
  <head>
    <Head title={title} description={description} />
  </head>
  <body>
    <GoogleTMBody />
    <header>
      <LanguagePicker place="header" />
      <a href={translatePath("/")}>
        <div>
          <Image
            src={hart_rond}
            alt="Mooyo logo"
            height={100}
            width={100}
            loading="eager"
          />
          <p class="title">
            <span class="big-text">Mooyo -</span>
            {t("layout.header.subtitle")}
          </p>
        </div>
      </a>
    </header>
    <Nav pathname={pathname} />
    <main>
      <slot />
    </main>
    <Footer />
    <ScrollToTop />
  </body>
</html>

<style>
  header {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    margin-bottom: 0;
    gap: 4rem;
    color: var(--mooyo-text-red);
    background-color: var(--mooyo-white);
  }

  header div {
    display: flex;
    align-items: center;
    gap: 5rem;
  }

  header .title {
    font-size: 3rem;
  }
  header .big-text {
    font-size: 4rem;
  }

  section {
    padding: 2rem;
  }

  /* Responsive */
  @media (max-width: 700px) {
    header {
      gap: 3rem;
    }
  }
  @media (max-width: 1000px) {
    header div {
      flex-direction: column;
      gap: 1rem;
      justify-content: center;
    }

    header {
      text-align: center;
    }
  }
</style>
