---
import { Image } from "astro:assets";
import hart_rond from "../assets/rondevormen/hart_rond.png";
import "../styles/global.css";
import Nav from "../components/Nav.astro";
import LanguagePicker from "../components/LanguagePicker.astro";
import {
  getLangFromUrl,
  useTranslatedPath,
  useTranslations,
} from "../i18n/utils";
import Footer from "@components/Footer.astro";
import Head from "@components/head/Head.astro";
import ScrollToTop from "../components/ScrollToTop.astro";
import GoogleTMBody from "@components/head/GoogleTMBody.astro";
import { pathHasLocale } from "astro:i18n";

interface Props {
  title: string;
  description?: string;
  showLogo?: boolean
}

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
const pathname = new URL(Astro.url).pathname;
const { title, description = "Standaard omschrijving voor Mooyo", showLogo = true } =
  Astro.props;

---

<!doctype html>
<html lang={lang}>
  <head>
    <Head title={title} description={description} />
  </head>
  <body>
    <GoogleTMBody />
    <header>
      <LanguagePicker place="header" />
      <a href={translatePath("/")}>
        <div>
          {showLogo && (
            <Image
              src={hart_rond}
              alt="Mooyo logo"
              height={200}
              width={200}
              loading="eager"
              class="img"
            />
          )}
          <div class="title">
            <p class="big-text">Mooyo</p>
            <p class="sub-text">
              {t("layout.header.subtitle")}
            </p>

          </div>
        </div>
      </a>
    </header>
    <Nav pathname={pathname} />
    <main>
      <slot />
    </main>
    <Footer />
    <ScrollToTop />
  </body>
</html>

<style>
  header {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
    color: var(--mooyo-text-red);
    background-color: var(--mooyo-white);
    padding: 3rem;
  }

  header div {
    display: flex;
    align-items: center;
    gap: 5rem;
  }

  header .img{
    max-height: 100%;
    width: auto;
  }
  
  header .title {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
  
  header .big-text {
    font-size: 4rem;
  }
  
  header .sub-text{ 
    font-size: 3rem;
  }
  
  header p {
    margin: 0;
  }

  section {
    padding: 2rem;
  }

  /* Responsive */
  @media (max-width: 700px) {
    header {
      gap: 3rem;
    }
  }

  @media (max-width: 500px) {
    header div {
      flex-direction: column;
      gap: 1rem;
      justify-content: center;
    }

    header {
      text-align: center;
    }
  }
</style>
