---
import Layout from "../../../layouts/Layout.astro";
import {
  getLangFromUrl,
  useTranslations,
  getStaticPaths,
} from "../../../i18n/utils";
import ContactSection from "@components/Contact-section.astro";
import EAC from "../../../styles/ExpandingAanbodCard.module.css";
import DropDownContainer from "@components/DropDownContainer.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

export { getStaticPaths };
---

<Layout title={t("aanbod.title")}>
  <section class="forWho text-align-center back-red text-white regular-font">
    <div class="text-margin">
      <h1 class="papyrus-font" set:html={t("aanbod.forwho.title")} />
      <p set:html={t("aanbod.forwho.text")} />
      <p class="papyrus-font">{t("aanbod.forwho.text2")}<p></p></p>
    </div>
  </section>
  <section class="prices back-gray">
    <DropDownContainer title="Individuele begeleidingen">
      <div class={EAC.flex}>
        <div class={`${EAC.card} ${EAC.expanding}`}>
          <div class={EAC.main}>
            <h4 class="bold text-red papyrus-font">
              {t("Prices.e1.title1")}
            </h4>
            <ul class="infinity-list text-black">
              <li>{t("Prices.e1.li1")}</li>
              <li>{t("Prices.e1.li2")}</li>
            </ul>
            <p class={EAC.seeMore}>{t("Prices.seeMore")}</p>
          </div>
          <div class={EAC.details}>
            <p>{t("Prices.e1.details")}</p>
          </div>
        </div>
        <div class={`${EAC.card} ${EAC.expanding}`}>
          <div class={EAC.main}>
            <h4 class="bold text-red papyrus-font">
              {t("Prices.adolescenten.title")}
            </h4>
            <ul class="infinity-list text-black">
              <li>{t("Prices.adolescenten.li1")}</li>
              <li>{t("Prices.adolescenten.li2")}</li>
            </ul>
            <p class={EAC.seeMore}>{t("Prices.seeMore")}</p>
          </div>
          <div class={EAC.details}>
            <p>{t("Prices.adolescenten.details")}</p>
          </div>
        </div>
      </div>
      <div class={EAC.flex}>
        <div class={`${EAC.card} ${EAC.expanding}`}>
          <div class={EAC.main}>
            <h4 class="bold text-red papyrus-font">
              Hartcoherentie - burn-out
            </h4>
            <ul class="infinity-list text-black">
              <li>{t("Prices.e1.li1")}</li>
              <li>{t("Prices.e1.li2")}</li>
            </ul>
            <p class={EAC.seeMore}>{t("Prices.seeMore")}</p>
          </div>
          <div class={EAC.details}>
            <p>{t("Prices.e1.details")}</p>
          </div>
        </div>
        <div class={`${EAC.card} ${EAC.expanding}`}>
          <div class={EAC.main}>
            <h4 class="bold text-red papyrus-font">
              {t("Prices.koppels.title")}
            </h4>
            <ul class="infinity-list text-black">
              <li>{t("Prices.koppels.li1")}</li>
              <li>{t("Prices.koppels.li2")}</li>
            </ul>
            <p class={EAC.seeMore}>{t("Prices.seeMore")}</p>
          </div>
          <div class={EAC.details}>
            <p>{t("Prices.koppels.details")}</p>
          </div>
        </div>
      </div>
    </DropDownContainer>
    <DropDownContainer title="Workshops - Transformatie beleving">
      <div class={EAC.flex}>
        <div class={`${EAC.card} ${EAC.expanding} text-align-justify`}>
          <div class={EAC.main}>
            <h4 class="bold text-red text-align-center papyrus-font">
              {t("Prices.patronen.title")}
            </h4>
            <p>{t("Prices.patronen.text")}</p>
            <p>
              {t("Prices.info")}
              <a class={EAC.a} href="mailto:bramgeysen@gmail.com"
                >bramgeysen@gmail.com</a
              >
            </p>
            <p class={EAC.seeMore}>{t("Prices.seeMore")}</p>
          </div>
          <div class={EAC.details}>
            <div class={EAC["card-aanbod"]}>
              <ul>
                <li>
                  <span class="bold">{t("Prices.label.format")}:</span>
                  {t("Prices.patronen.format")}
                </li>
                <li>
                  <span class="bold">{t("Prices.label.for")}:</span>
                  {t("Prices.patronen.for")}
                </li>
                <li>
                  <span class="bold">{t("Prices.label.location")}:</span>
                  {t("Prices.patronen.location")}
                </li>
                <li>
                  <span class="bold">{t("Prices.label.max")}:</span>
                  {t("Prices.patronen.max")}
                </li>
                <li>
                  <span class="bold">{t("Prices.label.data")}:</span>
                  {t("Prices.patronen.data")}
                </li>
                <li>
                  <span class="bold">{t("Prices.label.price")}:</span>
                  {t("Prices.patronen.price")}
                </li>
              </ul>
              <p>{t("Prices.patronen.lunch")}</p>
            </div>
            <p>{t("Prices.patronen.body1")}</p>
            <p>{t("Prices.patronen.body2")}</p>
            <p>{t("Prices.patronen.body3")}</p>
            <ul>
              <li>{t("Prices.patronen.li1")}</li>
              <li>{t("Prices.patronen.li2")}</li>
              <li>{t("Prices.patronen.li3")}</li>
              <li>{t("Prices.patronen.li4")}</li>
            </ul>
            <p class="text-gray text-align-start">
              {t("Prices.collab")}
              <a
                class={EAC.a}
                href="https://www.Cominz.be"
                target="_blank"
                rel="noopener noreferrer">www.Cominz.be</a
              >
            </p>
          </div>
        </div>
        <div class={`${EAC.card} ${EAC.expanding} text-align-justify`}>
          <div class={EAC.main}>
            <h4 class="bold text-red text-align-center papyrus-font">
              {t("Prices.reconstructive.title")}
            </h4>
            <p set:html={t("Prices.reconstructive.text")} />
            <p>
              {t("Prices.info")}
              <a class={EAC.a} href="mailto:bramgeysen@gmail.com"
                >bramgeysen@gmail.com</a
              >
            </p>
            <p class={EAC.seeMore}>{t("Prices.seeMore")}</p>
          </div>
          <div class={EAC.details}>
            <div class={EAC["card-aanbod"]}>
              <ul>
                <li>
                  <span class="bold">{t("Prices.label.format")}:</span>
                  {t("Prices.reconstructive.format")}
                </li>
                <li>
                  <span class="bold">{t("Prices.label.for")}:</span>
                  {t("Prices.reconstructive.for")}
                </li>
                <li>
                  <span class="bold">{t("Prices.label.location")}:</span>
                  {t("Prices.reconstructive.location")}
                </li>
                <li>
                  <span class="bold">{t("Prices.label.max")}: </span>{
                    t("Prices.reconstructive.max")
                  }
                </li>
                <li>
                  <span class="bold">{t("Prices.label.data")}:</span>
                  {t("Prices.reconstructive.data")}
                </li>
                <li>
                  <span class="bold">{t("Prices.label.price")}:</span>
                  {t("Prices.reconstructive.price")}
                </li>
              </ul>
              <p>{t("Prices.reconstructive.lunch")}</p>
            </div>
            <p>{t("Prices.reconstructive.body1")}</p>
            <p>{t("Prices.reconstructive.body2")}</p>
            <p>{t("Prices.reconstructive.body3")}</p>
            <p>{t("Prices.reconstructive.body4")}</p>
            <ul>
              <li>{t("Prices.reconstructive.li1")}</li>
              <li>{t("Prices.reconstructive.li2")}</li>
              <li>{t("Prices.reconstructive.li3")}</li>
              <li>{t("Prices.reconstructive.li4")}</li>
              <li>{t("Prices.reconstructive.li5")}</li>
            </ul>
            <p class="text-gray text-align-start">
              {t("Prices.collab")}
              <a
                class={EAC.a}
                href="https://www.Cominz.be"
                target="_blank"
                rel="noopener noreferrer">www.Cominz.be</a
              >
            </p>
          </div>
        </div>
      </div>
    </DropDownContainer>
    <DropDownContainer title="Organisaties en Teams">
      <div class={EAC.flex}>
        <div class={`${EAC.card} ${EAC.expanding}`}>
          <div class={EAC.main}>
            <h4 class="bold text-red papyrus-font">
              {t("Prices.e1.title1")}
            </h4>
            <ul class="infinity-list text-black">
              <li>{t("Prices.e1.li1")}</li>
              <li>{t("Prices.e1.li2")}</li>
            </ul>
            <p class={EAC.seeMore}>{t("Prices.seeMore")}</p>
          </div>
          <div class={EAC.details}>
            <p>{t("Prices.e1.details")}</p>
          </div>
        </div>
        <div class={`${EAC.card} ${EAC.expanding}`}>
          <div class={EAC.main}>
            <h4 class="bold text-red papyrus-font">
              {t("Prices.adolescenten.title")}
            </h4>
            <ul class="infinity-list text-black">
              <li>{t("Prices.adolescenten.li1")}</li>
              <li>{t("Prices.adolescenten.li2")}</li>
            </ul>
            <p class={EAC.seeMore}>{t("Prices.seeMore")}</p>
          </div>
          <div class={EAC.details}>
            <p>{t("Prices.adolescenten.details")}</p>
          </div>
        </div>
      </div>
    </DropDownContainer>
  </section>
  <section class="quotes back-red text-align-center center">
    <div class="col3">
      <p class="text-white" set:html={t("quotes.text1")} />
      <p class="text-black" set:html={t("quotes.text2")} />
      <p class="text-white" set:html={t("quotes.text3")} />
      <p class="text-black" set:html={t("quotes.text4")} />
      <p class="text-white" set:html={t("quotes.text5")} />
      <p class="text-black" set:html={t("quotes.text6")} />
      <p class="text-white" set:html={t("quotes.text7")} />
      <p class="text-black" set:html={t("quotes.text8")} />
      <p class="text-white" set:html={t("quotes.text9")} />
    </div>
  </section>
  <section class="methodieken back-gray text-black center regular-font">
    <div class="text-margin">
      <h3 class="text-align-center text-red papyrus-font">
        {t("methodieken.title")}
      </h3>
      <p
        class="text-align-justify border-bottom"
        set:html={t("methodieken.text")}
      />
      <div class="col2">
        <div>
          <ul class="infinity-list">
            <li>Hartcoherentie - Heartmath</li>
            <li>
              Footprints - Reconstructive International School - Carola Castillo
            </li>
            <li>
              Reconstructive - Reconstructive International School - Carola
              Castillo
            </li>
            <li>InterFamilySystems - IFS instituut</li>
            <li>A Parts Approach to Preverbal Attachment Trauma - nicabem</li>
            <li>Talentgedreven coachen - BlijMetMijAcademie</li>
            <li>Familie Opstellingen - Stephan Hausser</li>
          </ul>
        </div>
        <div>
          <ul class="infinity-list">
            <li>Mastering the Treatment of Trauma - nicabem</li>
            <li>Advanced Mastering program on Treatment of Trauma - nicabem</li>
            <li>
              Working with Emerging Adults: Key Factors That Can Impact
              Treatment - nicabem
            </li>
            <li>How to work with shame - nicabem</li>
            <li>Radical Compassion - Tara Brach</li>
            <li>Meditatie - Mindfulness</li>
            <li>SAND - Indigenous wisdom and healing</li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <ContactSection color="red" />
  <section class="openHartcirkels back-white text-gray center">
    <h3 class="text-red bold">{t("openHartCirkels.title")}</h3>
    <p>
      {t("openHartCirkels.text")}
      <a href="#" class="text-red">www.hartcirkels.be</a>
    </p>
  </section>
  <section class="s6 back-red text-white text-align-center">
    <h3 set:html={t("aanbod.s6.text")} />
  </section>
  <section class="s7 back-white text-red text-align-center">
    <h3 set:html={t("aanbod.s7.text")} />
  </section>
  <section class="s8 back-red text-white text-align-center">
    <h3 set:html={t("aanbod.s8.text")} />
  </section>
</Layout>

<style>
  section {
    padding: 2rem;
  }

  .methodieken .border-bottom {
    border-bottom: 1px solid var(--mooyo-red);
    padding: 2rem;
  }

  .methodieken .col2 {
    grid-template-columns: 1fr 1fr;
  }

  /* Responsive */

  @media (max-width: 1200px) {
    .quotes {
      display: none;
    }
  }

  @media (max-width: 900px) {
    .methodieken .col2 {
      grid-template-columns: auto;
    }
  }
</style>
